h1 {
  font-family: "Roboto";
  text-align: center;
}
h3 {
  font-family: "Roboto";
  text-align: center;
}
.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300;
  width: 300;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.button-wrapper {
  text-align: center;
  margin-top: 40px;
  justify-content: center;
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playerContainer {
  width: 300px;
}
.TabNav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0 !important;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
